<div class="other-tweet">
  <div class="profile-msg">
    <div class="others-profile">
      <span><img [src]="profilepic2" alt=""></span>
    </div>
    <div class="name-msg">
      <span><p> <b>Spiderman</b> <i class="fa fa-check-circle-o"></i>@spiderman. <small>yesterday</small></p></span>
      <div class="msg">
        <p>Hello, Peter Parker</p>
      </div>
    </div>
    <div class="more-options">
      <i class="fa-fa-ellipsis-h"></i>
    </div>
  </div>

  <div class="image-video">
    <img [src]="profilepic2" alt="">
  </div>

  <div class="your-reaction">
    <div class="comment"><i class="fa fa-comment-o"></i><p></p></div>
    <div class="retweet"><i class="fa fa-retweet"></i><p></p></div>
    <div class="like"><i class="fa fa-heart-o"></i><p></p></div>
    <div class="bookmark"><i class="fa fa-upload"></i><p></p></div>
  </div>
</div>