<div class="container">
  <!-- nav area menu -->
  <div class="options-menu">
      <div class="options-center">
        <div class="logo">
          <img routerLink="/" [src]="vavulencelogo" alt="" style="width: 40px"/>
        </div>
      </div>
      <div class="options">
        <div><i class="fa fa-home"></i><a >Home</a></div>
        <div><i class="fa fa-hashtag"></i><a >Explore</a></div>
        <div><i class="fa fa-bell"></i><a >Notifications</a></div>
        <div><i class="fa fa-envelope-o"></i><a routerLink="/messages">Messages</a></div>
        <div><i class="fa fa-bookmark-o"></i><a >Bookmark</a></div>
        <div><i class="fa fa-list-alt"></i><a routerLink="/lists">List</a></div>
        <div><i class="fa fa-user-o"></i><a routerLink="/members/id">Profile</a></div>
        <div><i class="fa fa-sign-out"></i><a (click)="logout()">logout</a></div>
        <div><button>Tweet</button></div>
      </div>
  </div>
  <!-- end--nav area menu -->


  <!-- content menu -->
  <div class="content-menu">
    <div class="prefer">
      <span>
        <a >Home</a>
      </span>
      <span>
        <i class="fa fa-star-o"></i>
      </span>
    </div>

    <div class="you-tweet-other-tweet">
      <div class="your-tweet">
        <div class="profile-message">
          <span><img [src]="profilepic" alt="" ></span>
          <span><input type="text" placeholder="What's Happening"></span>
        </div>
        <div class="add-extra">
          <div class="images-more">
            <span><a href="#"><i class="fa fa-picture-o"></i></a></span>
            <span><a href="#"><i class="fa fa-bars"></i></a></span>
            <span><a href="#"><i class="fa fa-smile-o"></i></a></span>
            <span><a href="#"><i class="fa fa-calender-plus-o"></i></a></span>
          </div>
          <span><button>Tweet</button></span>
        </div>
      </div>

      <div class="other-tweets">

        <!-- Each Person -->
        
        <app-home-each-tweet></app-home-each-tweet>

      </div>
    </div>
  </div>
        
  <!-- end of content menu -->


  <!-- trending area menu -->
  <div class="trending-menu">
    <div class="trending-center">
      <div class="search">
        <input type="search" placeholder="Search VawulenceApp">
        <span><i class="fa fa-search"></i></span>
      </div>

      <div class="trending">
        <div class="header">
          <p>what's Happening</p>
        </div>
        <div class="trends">
          <!-- each trends -->
          <div class="trend">
            <div class="trend-msg">
              <div class="trend-name">
                <p>Premier League 2023 Live</p>
              </div>
              <div class="subject">
                <p>Tottenham beat Mancity 10 : 0</p>
              </div>
              <div class="trend-with">
                <p>trending with <a >#Arsenal</a>, <a >#Mancity</a></p>
              </div>
            </div>
            <div class="trend-picture">
              <img [src]="profilepic2" alt="" style="width: 100px">
            </div>
          </div>

          <div class="show-more">
            <a href="Show more"></a>
          </div>
          <!-- end of each trends -->
        </div>
      </div>
      <!-- Follow -->

      <!-- End of Follow -->
    </div>
  </div>
  <!-- end of trending area menu -->

</div>